/* Illustration cycle animations */

@keyframes castleCycle {
  0% {
    transform: translateX(-100px);
    animation-timing-function: ease-out;
  }

  20% {
    transform: initial;
  }

  80% {
    transform: initial;
    animation-timing-function: linear;
  }

  100% {
    transform: translateY(-100px);
  }
}

@keyframes castleCircleCycle {
  0% {
    opacity: 0;
    transform: translate(50px, 35px) scale(0) translate(-50px, -35px);
  }

  20% {
    opacity: 0;
    transform: translate(50px, 35px) scale(0) translate(-50px, -35px);
    animation-timing-function: ease-out;
  }

  30% {
    opacity: 1;
    transform: translate(50px, 35px) scale(1) translate(-50px, -35px);
  }

  35% {
    opacity: 1;
    transform: translate(50px, 35px) scale(1) translate(-50px, -35px);
    animation-timing-function: ease-out;
  }

  60% {
    opacity: 0;
    transform: translate(50px, 35px) scale(3) translate(-50px, -35px);
  }

  100% {
    opacity: 0;
    transform: translate(50px, 35px) scale(3) translate(-50px, -35px);
  }
}

@keyframes castleBuildingCycle {
  0% {
    opacity: 0;
    transform: translate(50px, 35px) scale(0.2) translate(-50px, -35px);
  }

  35% {
    opacity: 0;
    transform: translate(50px, 35px) scale(0.2) translate(-50px, -35px);
    animation-timing-function: ease-out;
  }

  70% {
    opacity: 1;
    transform: translate(50px, 35px) scale(1) translate(-50px, -35px);
  }
}

@keyframes leafCycle {
  0% {
    transform: rotate(5deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  100% {
    transform: rotate(-5deg);
    animation-timing-function: ease-in;
  }
}

@keyframes seedlingSunCycle {
  0% {
    opacity: 0;
    transform:
      translate(60px, 60px) rotate(-50deg) translate(-60px, -60px)
      translate(29.420692px, 25.374981px) rotate(30deg) translate(-29.420692px, -25.374981px);
  }

  10% {
    opacity: 1;
  }

  60% {
    transform:
      translate(60px, 60px) rotate(0deg) translate(-60px, -60px)
      translate(29.420692px, 25.374981px) rotate(0deg) translate(-29.420692px, -25.374981px);
  }

  75% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    transform:
      translate(60px, 60px) rotate(100deg) translate(-60px, -60px)
      translate(29.420692px, 25.374981px) rotate(-60deg) translate(-29.420692px, -25.374981px);
  }
}

@keyframes seedlingSunHaloCycle {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes seedlingPlantCycle {
  0% {
    opacity: 0;
    transform: translate(60.628791px, 63.558752px) scale(0.1) translate(-60.628791px, -63.558752px);
  }

  10% {
    opacity: 1;
  }

  60% {
    transform: translate(60.628791px, 63.558752px) scale(1) translate(-60.628791px, -63.558752px);
  }

  70% {
    opacity: 1;
    animation-timing-function: ease-in;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(60.628791px, 63.558752px) scale(1) translate(-60.628791px, -63.558752px);
  }
}

@keyframes seedlingPlantLeafFastCycle {
  0% {
    transform: scale(0.1);
  }

  20% {
    transform: scale(0.3);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes seedlingPlantLeafSlowCycle {
  0% {
    transform: scale(0.1);
  }

  22% {
    transform: scale(0.25);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}


/* UI animations */

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadePartialOut {
  100% {
    opacity: 0.5;
  }
}

@keyframes fadePartialIn {
  0% {
    opacity: 0.5;
  }
}

@keyframes zoomIn {
  100% {
    transform: scale(3);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(3);
  }
}

@keyframes growIn {
  0% {
    transform: scale(0);
  }
}

@keyframes growOut {
  100% {
    transform: scale(0);
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100vw);
  }
}

@keyframes toLeft {
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(100vw);
  }
}

@keyframes toRight {
  100% {
    transform: translateX(100vw);
  }
}

@keyframes fromBottom {
  0% {
    transform: translateY(100vh);
  }
}
