html {
  font-family:
    'Source Sans Pro',
    'Trebuchet MS',
    sans-serif;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
  font-feature-settings: 'liga', 'pnum', 'kern';
}

body {
  margin: 0;
}
